@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 gb-form-wrap">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

            <p>
                Food feels helps you keep track of what foods make you feel bad!
                Just add your food into the food text box everytime you eat and add your bad
                feeling when you feel bad.
            </p>

            <p>This app is most effective when you enter your feeling at a set time after you eat.</p>
        </div>
    </div>
</div>

